* {
    max-width: 100%;
}
.bg-blue{
    background-color: #09096e;
}
.build-text{
    font-size: 62px;
}
.main-box{
    padding-top: 100px;
    padding-bottom: 70px;
}
.main-para{
    color: #D8D8D8;
}
.common-padding{
    padding-bottom: 50px;
}
.learn-para{
    color: #F14E9B;
    font-size:18px;
}
.positive-para{
    font-size: 32px;
    font-weight: bolder;
    line-height: 1.4;
}
.content{
    font-size: 14px;
    line-height: 1.4;
}
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: transparent;
}
.link{
    color: white;
    font-weight: bold;
    padding: 10px 30px !important;
}
.header {
    padding-top: 30px;
    margin:  0px 100px;
    
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    padding: 50px;
    height: 200px;
}
.card-box{
    padding-bottom: 100px;
    padding-top: 80px;
        margin-left: 111px;
}
.para-width{
    width:70%;
    margin: auto;
}
.line{
    font-size: 12px;
}
.number{
    font-size: 26px;
}
.main{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}